<div class="col-md-4">
  <div class="card">
    <div class="card-header" data-background-color="green">
      <h6 *ngIf="!inEditMode" class="title">Add Crops</h6>
      <h6 *ngIf="inEditMode" class="title">Edit details</h6>
    </div>
    <div class="card-content table-responsive">
      <form name="cropForm" #cropForm="ngForm" (ngSubmit)="submit(crop)" novalidate>
        <div class="form-group" [ngClass]="{'has-error': name.invalid && (name.dirty || name.touched)}">
          <label class="control-label">Name</label>
          <input id="name" name="name" #name="ngModel" required type="text" [(ngModel)]="crop.name" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': sellingPrice.invalid && (sellingPrice.dirty || sellingPrice.touched)}">
          <label class="control-label">Selling price in per kg (Php)</label>
          <input id="sellingPrice" name="sellingPrice" #sellingPrice="ngModel" required type="number" [(ngModel)]="crop.sellingPrice"
            class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': sharePerSold.invalid && (sharePerSold.dirty || sharePerSold.touched)}">
          <label class="control-label">Farmer Share per kg sold (Php)</label>
          <input id="sharePerSold" name="sharePerSold" #sharePerSold="ngModel" required type="number" [(ngModel)]="crop.sharePerSold"
            class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': yieldPerSqm.invalid && (yieldPerSqm.dirty || yieldPerSqm.touched)}">
          <label class="control-label">Estimated yield per sqm (kg/sqm)</label>
          <input id="yieldPerSqm" name="yieldPerSqm" #yieldPerSqm="ngModel" required type="number" [(ngModel)]="crop.yieldPerSqm" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': plantingToHarvestDuration.invalid && (plantingToHarvestDuration.dirty || plantingToHarvestDuration.touched)}">
          <label class="control-label">Planting to harvest time (days)</label>
          <input id="plantingToHarvestDuration" name="plantingToHarvestDuration" #plantingToHarvestDuration="ngModel" required type="number"
            [(ngModel)]="crop.plantingToHarvestDuration" class="form-control">
        </div>
        
        <!--If need to customize units uncomment this-->
        <!--<div class="form-group" [ngClass]="{'has-error': plantingToHarvestUnits.invalid && (plantingToHarvestUnits.dirty || plantingToHarvestUnits.touched)}">
          <label class="control-label">Planting to harvest units</label>
          <input id="plantingToHarvestUnits" name="plantingToHarvestUnits" #plantingToHarvestUnits="ngModel" required type="text" [(ngModel)]="crop.plantingToHarvestUnits"
            class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': volumeUnits.invalid && (volumeUnits.dirty || volumeUnits.touched)}">
          <label class="control-label">Volume units</label>
          <input id="volumeUnits" name="volumeUnits" #volumeUnits="ngModel" required type="text" [(ngModel)]="crop.volumeUnits" class="form-control">
        </div>-->
        <div class="pull-right">
          <button *ngIf="!inEditMode" type="submit" [disabled]="!cropForm.form.valid" class="btn btn-primary">Add</button>
          <button *ngIf="inEditMode" type="submit" [disabled]="!cropForm.form.valid" class="btn btn-primary">Update</button>
          <button *ngIf="inEditMode" type="submit" (click)="reset()" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>