<div class="col-md-4">
  <div class="card">
    <div class="card-header" data-background-color="green">
      <h6 *ngIf="!supervisor.id" class="title">Add Farm Supervisor</h6>
      <h6 *ngIf="supervisor.id" class="title">Edit details</h6>
    </div>
    <div class="card-content table-responsive">
      <form name="supervisorForm" #supervisorForm="ngForm" (ngSubmit)="submit(supervisor)" novalidate>
        <div class="form-group" [ngClass]="{'has-error': name.invalid && (name.dirty || name.touched)}">
          <label class="control-label">Name</label>
          <input id="name" #name="ngModel" name="name" required type="text" [(ngModel)]="supervisor.name" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': contactNumber.invalid && (contactNumber.dirty || contactNumber.touched)}">
          <label class="control-label">Contact Number</label>
          <input id="contactNumber" #contactNumber="ngModel" name="contactNumber"  required type="text" [(ngModel)]="supervisor.contactNumber" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': address.invalid && (address.dirty || address.touched)}">
          <label class="control-label">Address</label>
          <input id="address" #address="ngModel" name="address" required type="text" [(ngModel)]="supervisor.address" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': city.invalid && (city.dirty || city.touched)}">
          <label class="control-label">City</label>
          <input id="city" #city="ngModel" name="city" required type="text" [(ngModel)]="supervisor.city" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': poolEntity.invalid && (poolEntity.dirty || poolEntity.touched)}">
          <label class="control-label">Area(Pool)</label>
          <select id="poolEntity" #poolEntity="ngModel" name="poolEntity" required [(ngModel)]="supervisor.poolEntity" class="form-control">
            <option *ngFor="let entity of entities" [ngValue]="entity"  [selected]="supervisor.poolEntity?(entity.id == supervisor.poolEntity.id): false">{{entity.name}}</option>
          </select>
        </div>
        <div class="pull-right">
          <button *ngIf="!supervisor.id" type="submit" [disabled]="!supervisorForm.form.valid" class="btn btn-primary">Add</button>
          <button *ngIf="supervisor.id" type="submit" [disabled]="!supervisorForm.form.valid" class="btn btn-primary">Update</button>
          <button *ngIf="supervisor.id" type="submit" (click)="reset()" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>