<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <app-add-crops [crop]="selectedCrop" [inEditMode]="inEditMode" (cropChange)="cropChange($event)"></app-add-crops>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h6 class="title">List of Crops</h6>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>Selling Price / Share per sold</th>
                                    <th>kg/sqm</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="crops.length">
                                <tr [ngClass]="{'active': selectedCrop.id === crop.id}" class="crop-row" *ngFor="let crop of crops" (click)="select(crop); inEditMode = true;">
                                    <td [ngClass]="{'active': selectedCrop.id === crop.id}">{{crop.name}}</td>
                                    <td [ngClass]="{'active': selectedCrop.id === crop.id}" class="strong">Php {{crop.sellingPrice}} / Php {{crop.sharePerSold}}</td>
                                    <td [ngClass]="{'active': selectedCrop.id === crop.id}" class="text-gray">{{crop.yieldPerSqm}} kg/sqm</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-gray" *ngIf="!crops.length">No data found</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>