<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <app-add-supervisor [supervisor]="selected" (supervisorSubmitted)="submitted($event)"></app-add-supervisor>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h6 class="title">List of Supervisors</h6>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Area(Pool)</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="items.length">
                                <tr *ngFor="let item of items" class="item-row"  [ngClass]="{'active': selected.id === item.id}"  (click)="select(item)">
                                    <td>{{item.name}}</td>
                                    <td>{{item.contactNumber}}</td>
                                    <td>{{item.address}}</td>
                                    <td>{{item.city}}</td>
                                    <td>{{item.poolEntity.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-gray" *ngIf="!items.length">No data found</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
