<div class="col-md-4">
  <div class="card">
    <div class="card-header" data-background-color="green">
      <h6 *ngIf="!farmer.id" class="title">Add Farmer</h6>
      <h6 *ngIf="farmer.id" class="title">Edit details</h6>
    </div>
    <div class="card-content table-responsive">
      <form name="farmerForm" #farmerForm="ngForm" (ngSubmit)="submit(farmer)" novalidate>
        <div class="form-group" [ngClass]="{'has-error': name.invalid && (name.dirty || name.touched)}">
          <label class="control-label">Name</label>
          <input id="name" #name="ngModel" name="name" required type="text" [(ngModel)]="farmer.name" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': contactNumber.invalid && (contactNumber.dirty || contactNumber.touched)}">
          <label class="control-label">Contact Number</label>
          <input id="contactNumber" #contactNumber="ngModel" name="contactNumber"  required type="text" [(ngModel)]="farmer.contactNumber" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': address.invalid && (address.dirty || address.touched)}">
          <label class="control-label">Address</label>
          <input id="address" #address="ngModel" name="address" required type="text" [(ngModel)]="farmer.address" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': city.invalid && (city.dirty || city.touched)}">
          <label class="control-label">City</label>
          <input id="city" #city="ngModel" name="city" required type="text" [(ngModel)]="farmer.city" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': farmArea.invalid && (farmArea.dirty || farmArea.touched)}">
          <label class="control-label">Farm Area(sqm)</label>
          <input id="farmArea" #farmArea="ngModel" name="farmArea" required type="number" [(ngModel)]="farmer.farmArea" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': poolEntity.invalid && (poolEntity.dirty || poolEntity.touched)}">
          <label class="control-label">Area(Pool)</label>
          <select id="poolEntity" #poolEntity="ngModel" name="poolEntity" required [(ngModel)]="farmer.poolEntity" class="form-control">
            <option *ngFor="let entity of entities" [ngValue]="entity"  [selected]="farmer.poolEntity?(entity.id == farmer.poolEntity.id): false">{{entity.name}}</option>
          </select>
        </div>
        <div class="pull-right">
          <button *ngIf="!farmer.id" type="submit" [disabled]="!farmerForm.form.valid" class="btn btn-primary">Add</button>
          <button *ngIf="farmer.id" type="submit" [disabled]="!farmerForm.form.valid" class="btn btn-primary">Update</button>
          <button *ngIf="farmer.id" type="submit" (click)="reset()" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>