<div class="col-md-4">
  <div class="card">
    <div class="card-header" data-background-color="green">
      <h6 *ngIf="!entity.id" class="title">Add Entity</h6>
      <h6 *ngIf="entity.id" class="title">Edit details</h6>
    </div>
    <div class="card-content table-responsive">
      <form name="entityForm" #entityForm="ngForm" (ngSubmit)="submit(entity)" novalidate>
        <div class="form-group" [ngClass]="{'has-error': name.invalid && (name.dirty || name.touched)}">
          <label class="control-label">Name</label>
          <input id="name" #name="ngModel" name="name" required type="text" [(ngModel)]="entity.name" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': description.invalid && (description.dirty || description.touched)}">
          <label class="control-label">Description</label>
          <input  id="description" #description="ngModel" name="description"  required type="text" [(ngModel)]="entity.description" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': address.invalid && (address.dirty || address.touched)}">
          <label class="control-label">Address</label>
          <input id="address" #address="ngModel" name="address" required type="text" [(ngModel)]="entity.address" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': contactNumber.invalid && (contactNumber.dirty || contactNumber.touched)}">
          <label class="control-label">Contact Number</label>
          <input id="contactNumber" #contactNumber="ngModel" name="contactNumber"  required type="text" [(ngModel)]="entity.contactNumber" class="form-control">
        </div>
        <div class="pull-right">
          <button *ngIf="!entity.id" type="submit" [disabled]="!entityForm.form.valid" class="btn btn-primary">Add</button>
          <button *ngIf="entity.id" type="submit" [disabled]="!entityForm.form.valid" class="btn btn-primary">Update</button>
          <button *ngIf="entity.id" type="submit" (click)="reset()" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>